// то что я сейчас верстаю ./sources/макет.png  
.hero
    align-content: center
    background rgba(247, 155, 0, 1)
    background-image: url(./../img/hero_bg.svg)
    background-size 100%
    background-position: -50% -50%
    background-repeat: repeat
    .header
        z-index 2
        border: 1.5px solid rgba(2, 9, 16, 0.13);
        border-radius: 0px 0px 6px 6px;
        box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
        height 53px
        background rgba(247, 155, 0, 1)
        display: flex
        justify-content: space-between
        align-items center
        width 100%
        position absolute
        top 0
        .logo
            width: auto;
            height: auto;
            margin-left 23.5px  
            .logo_img
                width 120.89px
                height 53px
        .menu_burger
            width auto
            height auto
            margin-right 22px
            .burger_img
                width 21px
                height 15px
        .nav
            width: 230px;
            height: 100vh;
            position absolute
            right 0
            top 0
            opacity 0
            display none
            transform translateX(100%) // 1. Изначально скрываем меню за правым краем
            transition transform 0.4s, opacity 0.4s // 2. Добавляем плавный переход для transform и opacity
            background l_blue
            border: 3px solid rgba(2, 9, 16, 0.13);
            box-sizing: border-box;
            border-radius: 6px;
            border-top-right-radius: 0px
            border-bottom-right-radius: 0px
            &.nav--open // 3. Стиль для открытого меню (когда JS добавит этот класс)
                display block
                transform translateX(0)
                opacity 1
            .menu_header
                margin-top 20px
                margin-left 17px
                width 193px
                height 52px
                display flex
                .menu-header_close
                    width: 23.3px;
                    height: 23px;
                .menu-header_user-icon
                    width: 52px;
                    height: 52px;
                    margin-left 117px
                    background: rgba(196, 196, 196, 1);
                    border-radius: 50%;
                    .user-icon_img
                        width: 52px;
                        height: 52px;
            .menu_list
                margin-top 127px
                margin-bottom 122px
                display flex
                flex-direction: column
                align-items: center
                .menu_item
                    margin-bottom 33px
                    a
                        color: rgba(247, 155, 0, 1);
                        font-family: Open Sans;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 27px;
                        letter-spacing: 0px;
                .menu_item:last-child
                    margin-bottom 0px
            .menu_button
                width: 186px;
                height: 113px;
                margin: 0 auto
                .menu-button_item:first-child
                    margin-bottom 22px
                .menu-button_item
                    width: 186px;
                    height: 45.31px;
                    box-sizing: border-box;
                    border: 3px solid rgba(161, 101, 0, 1);
                    border-radius: 72px;
                    background #F79B00
                    display flex
                    justify-content: center
                    align-items: center
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                    .menu-button_text
                        color: rgba(0, 0, 0, 1);
                        font-family: Open Sans;
                        font-size: 22px;
                        font-weight: 800;
                        line-height: 30px;
                        letter-spacing: 0px;  
    .hero_desk
        padding-top 53px
        .desk_text
            padding-top 75px
            .desk-text_title
                text-align: center
                transform: rotate(12.45deg); 
                color: rgba(239, 0, 42, 1);
                font-family: Roboto;
                font-size: 111px;
                font-weight: 900;
                line-height: 130px;
                letter-spacing: 1px;
                text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25)
            .desk_blood
                position relative
                margin 0 auto
                width: 559.78px;
            .desk-text_blood
                width: 559.78px;
                height: 242px;
                position absolute
                top 36px
                left -82px
            .desk_masarubka       
                display flex
                .conteiner2
                    position relative
                    width 599px
                    height 507px
                    margin-bottom 25px
                .conteiner
                    display flex
                    justify-content center
                    margin-top 25px
                    width 100%
                .desk_masarubka-container
                    position absolute
                    left 22
                    display flex
                .masarubka_main-img
                    width: 438px;
                    height: 507px;
                    z-index: 1

                .masarubka_line
                    display flex
                    flex-direction: column
                    margin-top 152px
                    align-items: end
                    .line_1
                        width: 64px;
                        height: 28px;
                    .line_2
                        width: 91px;
                        height: 33px;
                    .line_3
                        width: 59px;
                        height: 30px
                    .line_4
                        width: 72px;
                        height: 26px
                    
                .masarubka_handle-img
                    width: 72px;
                    height: 268px;
                    margin-top 206px
                    margin-left -2px
                .hero_button
                    width: 332;
                    height: 202px;
                    margin-left 78px
                    margin-top 35vh
                    .hero-button_item:first-child
                        margin-bottom 22px
                    .hero-button_item
                        width: 332px;
                        height: 81px;
                        box-sizing: border-box;
                        border: 3px solid rgba(0, 28, 66, 1);
                        border-radius: 72px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        background: rgba(76, 137, 221, 1);
                        display flex
                        justify-content: center
                        align-items: center
                        .hero-button_text
                            color: rgba(0, 0, 0, 1);
                            font-family: Open Sans;
                            font-size: 40px;
                            font-weight: 800;
                            line-height: 54px;
                            letter-spacing: 0px;
                            