section.hero
    .container
        header.header
            .logo 
                a(href="#").logo_link 
                    img.logo_img(src="./img/logo.svg", alt="логотип")
            .menu_burger
                        img.burger_img(src="./img/burger.svg", alt="меню")
            .nav
                nav.menu 
                    .menu_header
                        .menu-header_close 
                            img.close_img(src="./img/close.svg", alt="закрыть")
                        .menu-header_user-icon 
                            img.user-icon_img(src="./img/user-icon.png", alt="пользователь")
                    ul.menu_list
                        li.menu_item
                            a.menu_link(href="#") ЧТО ЗА ИГРА
                        li.menu_item
                            a.menu_link(href="#") ТУРНИРЫ
                        li.menu_item
                            a.menu_link(href="#") ТОП ИГРОКОВ
                        li.menu_item
                            a.menu_link(href="#") ПОДДЕРЖКА
                    .menu_button 
                        a.menu-button_link(href="#") 
                            .menu-button_item
                                .menu-button_text ВОЙТИ 
                        a.menu-button_link(href="#")
                            .menu-button_item
                                .menu-button_text РЕГИСТРАЦИЯ
        .hero_desk 
            .desk_text
                .desk_blood
                    img.desk-text_blood(src="./img/blood.svg", alt="кровь")
                h1.desk-text_title МЯСОРУБКА
                .container
                    .desk_masarubka 
                        .hero_button 
                            a.hero-button_link(href="#")
                                .hero-button_item
                                    .hero-button_text ВОЙТИ
                            a.hero-button_link(href="#")
                                .hero-button_item 
                                    .hero-button_text РЕГИСТРАЦИЯ
                        .conteiner
                            .conteiner2
                                .desk_masarubka-container
                                    .masarubka_line 
                                        img.line_1(src="./img/line_1.svg", alt="мясо")
                                        img.line_2(src="./img/line_2.svg", alt="мясо")
                                        img.line_3(src="./img/line_3.svg", alt="мясо")
                                        img.line_4(src="./img/line_4.svg", alt="мясо")

                                    img.masarubka_main-img(src="./img/masarubka-main.png", alt="мясарубка")
                                    img.masarubka_handle-img(src="./img/masarubka-handle.svg", alt="ручка мясарубки")